name: Go

on:
  push:
    paths:
      - Go/**

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.17'
      - name: Run test
        run: go test -v ./...
        working-directory: Go
      - name: Run go vet
        run: go vet ./...
        working-directory: Go
