name: Kotlin

on:
  push:
    paths:
      - Kotlin/**
      - .github/workflows/Kotlin.yml

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK 1.8
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '8'
      - name: Cache Gradle packages
        uses: actions/cache@v4
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle
      - name: Build with Gradle
        run: ./gradlew build
        working-directory: Kotlin
