name: PHP

on:
  push:
    paths:
      - PHP/**

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v5
      with:
        path: PHP/vendor
        key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-
    - name: Setup
      run: make setup
      working-directory: PHP
    - name: Run test
      run: make test
      working-directory: PHP
