name: Scala3

on:
  push:
    paths:
      - Scala3/**

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: coursier/cache-action@v7
      - uses: coursier/setup-action@v2
      - run: java -version
      - run: cs java -version
      - name: Run test
        run: sbt test
        working-directory: Scala3